.LoginPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.InputData{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#outlined-name {
  background-color: white;
}

#outlined-password-input{
  background-color: white;
}

#ButtonVisibility{
  background-color: white;
}

//.MenuItem.Mui-selected {
//  color: blue;
//}
//
//.MuiOutlinedInput-root.Mui-error {
//  color: red;
//}

#outlined-adornment-password.Mui-selected {
  background-color: white;
}